{% extends 'base.html' %}

{% block movie_details %}

<div class="w-10/12 mx-auto">


<div class="flex gap-5">

    <img class="rounded" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" width='300' alt="{{cast.name}}" srcset="">

    <div class="">
        <h1>{{movie.title}}</h1>
        <p>{{movie.tagline}}</p>
        <p>Overview: {{movie.overview}}</p>
        <p>Release Date: {{movie.release_date}}</p>

        <span hx-get="{%url 'toggle_event' 'like' 'movie' movie.id%}?name={{movie.title}}&poster_id={{movie.poster_path}}" hx-swap='innerHtml' class="material-icons hover:cursor-pointer" style='color:#cf1fa8'>
            {% if user_relation.liked %} favorite {% else %} favorite_border {% endif %}
        </span>
        <span hx-get="{%url 'toggle_event' 'bookmark' 'movie' movie.id%}?name={{movie.title}}&poster_id={{movie.poster_path}}" hx-swap='innerHtml' class="material-icons hover:cursor-pointer" style='color:#f7ac34'>
            {% if user_relation.bookmarked %} bookmark {% else %} bookmark_border {% endif %}
        </span>
        <span hx-get="{%url 'toggle_event' 'watched' 'movie' movie.id%}?name={{movie.title}}&poster_id={{movie.poster_path}}" hx-swap='innerHtml' 
        class="material-icons hover:cursor-pointer
        {% if user_relation.watched %} text-green-500 {% else %} text-red-500 {% endif %}
        " 
        _="on click toggle .text-green-500 .text-red-500 on me">
            {% if user_relation.watched %} visibility {% else %} visibility_off {% endif %}
        </span>

        {% comment %} Rating {% endcomment %}
        {% if user_relation.rating %}
        <div id="rating">
            <span class="material-icons text-yellow-500"> {% for rating in ''|ljust:user_relation.rating %}star {% endfor %} </span>
            <span class="material-icons text-red-500 font-bold hover:cursor-pointer" hx-get="{%url 'toggle_event' 'rating' 'movie' movie.id%}?name={{movie.title}}&poster_id={{movie.poster_path}}&rating={{user_relation.rating}}" hx-target="closest div" hx-swap="outerHTML"> do_not_disturb_on </span>
        </div>
        {% else %}
        <select name="rating" hx-get="{%url 'toggle_event' 'rating' 'movie' movie.id%}?name={{movie.title}}&poster_id={{movie.poster_path}}" hx-trigger="change" hx-target="this" hx-swap="outerHTML">
            <option value="0">Rate</option>
            <option value="1">★</option>
            <option value="2">★★</option>
            <option value="3">★★★</option>
            <option value="4">★★★★</option>
            <option value="5">★★★★★</option>
        </select>
        {% endif %}

        <h2>Director(s): {% for member in movie.credits.crew %} {% if member.job == "Director" %} {{member.name}} {% endif %} {% endfor %}</h2> 

        <h2>Genres:</h2> {% for genre in movie.genres %} {{genre.name}} - {{genre.id}} {% endfor %}

        <h2>Duration: {{ movie.runtime }}</h2> 

        {% if movie.belongs_to_collection %}

        <h2>Part of Series {{movie.belongs_to_collection.name}}</h2> 

        {% endif %}

        <h2>Where to Watch:</h2> {% for platform in movie.watch_providers.results.TR.flatrate  %} {{platform.provider_name}} {% endfor %}
        <p><a href="https://www.imdb.com/title/{{movie.imdb_id}}/">IMDb link</a></p>
    </div>

</div>

<h2>Cast:</h2>
<ul class="flex">
    {% for cast in movie.credits.cast|slice:":10" %}
    <li> <img src="http://image.tmdb.org/t/p/w500/{{cast.profile_path}}" width='100' alt="{{cast.name}}" srcset="">  Name: <a href="{%url 'person_details' cast.id %}">{{cast.name}}</a> - Character: {{cast.character}} </li>
    {% endfor %}
</ul>

<h2>You Might Also Like:</h2>
<ul class="flex">
	{% for movie in movie.recommendations.results|slice:":10" %}
	<li>
		{{movie.title}}
		<img
			src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
			width="120"
			alt="{{cast.name}}"
			srcset=""
		/>
	</li>
	{% endfor %}
</ul>


<div id="comments" hx-get="{% url 'list_comments' 'movie' movie.id%}" hx-trigger="load, submit delay:250ms from:#comment" hx-swap="innerHTML">
    {% include 'partials/comment_list.html' %}
</div>

<form id="comment" action="" hx-post="{%url 'post_comment' 'movie' movie.id%}?name={{movie.title}}&poster_id={{movie.poster_path}}" hx-swap="none" hx-on::after-request="if(event.detail.successful) this.reset()">
    {% csrf_token %}
    <textarea name="comment" id="" cols="100" rows="5"></textarea>
    <button type="submit">Send Comment</button>
</form>


</div>
{% endblock movie_details %}