{% if item.movie%}
    <div id="item-{{item.id}}" class="bg-slate-100 rounded flex-none w-32 flex-col relative hover:cursor-pointer">
        {% if list.user == request.user %}
        <button 
        class="bg-red-500 rounded absolute top-0 right-0 p-1 m-1 text-xs text-white z-10" 
        hx-post="{%url 'delete_items_from_list' item.id%}" 
        hx-swap="none"
        _="on click remove #item-{{item.id}}">Delete</button>
        {% endif %}
        <a href="{%url 'movie_details' item.movie.tmdb_id%}">
            <img
            {% if item.movie.poster_id == 'None' %}
            src="https://dummyimage.com/500x750/C0C0C0/000?text=No%20Image"
            {% else %}
            src="http://image.tmdb.org/t/p/w500{{item.movie.poster_id}}"
            {% endif %}
            alt="{{item.movie.name}}" class="rounded">
            <p class="absolute bottom-0 left-0 right-0 bg-gray-200 text-black p-1 text-xs text-center">{{item.movie.name}}</p>
        </a>
    </div>
    {% comment %} {{item.movie.name}} - Movie - Added on {{item.created_at}} <a class="text-red-500" hx-post="{%url 'delete_items_from_list' item.id list.id%}" hx-swap="innerHTML" hx-target="#list_items">Delete</a></div> {% endcomment %}
{% elif item.tv_series%}
<div id="item-{{item.id}}" class="bg-slate-100 rounded flex-none w-32 flex-col relative hover:cursor-pointer">
    {% if list.user == request.user %}
    <button 
    class="bg-red-500 rounded absolute top-0 right-0 p-1 m-1 text-xs text-white z-10" 
    hx-post="{%url 'delete_items_from_list' item.id%}" 
    hx-swap="none"
    _="on click remove #item-{{item.id}}">Delete</button>
    {% endif %}
    <a href="{%url 'tv_details' item.tv_series.tmdb_id%}">
        <img
        {% if item.tv_series.poster_id == 'None' %}
        src="https://dummyimage.com/500x750/C0C0C0/000?text=No%20Image"
        {% else %}
        src="http://image.tmdb.org/t/p/w500{{item.tv_series.poster_id}}"
        {% endif %}
        alt="{{item.tv_series.name}}" class="rounded">
        <p class="absolute bottom-0 left-0 right-0 bg-gray-200 text-black p-1 text-xs text-center">{{item.tv_series.name}}</p>
    </a>
</div>
    {% comment %} <div class="bg-slate-100 rounded flex-none w-32 flex-col relative hover:cursor-pointer">{{item.tv_series.name}} - Tv Series - Added on {{item.created_at}} <a class="text-red-500" hx-post="{%url 'delete_items_from_list' item.id list.id%}" hx-swap="innerHTML" hx-target="#list_items">Delete</a></div> {% endcomment %}
{% endif %}