{% block search %}

<div class="relative">
    <div>
        <form action="" class="max-w-md bg-gray-100 rounded-t-md flex items-center">
        <select 
        class="bg-transparent uppercase font-bold text-sm p-4 mr-4"
        id="search_type" name="type">
            <option value="multi">All</option>
            <option value="movie">Movies</option>
            <option value="tv">TV Series</option>
            <option value="person">Person</option>
        </select>
        <input class="border-l border-gray-300 bg-transparent font-semibold text-sm pl-4 w-full outline-none" type="search" 
            name="search" placeholder="Begin Typing To Search" 
            hx-get="{%url 'search'%}"
            hx-trigger="keyup[target.value.length > 2] changed delay:500ms, search, change from:#search_type" 
            hx-target="#search-results" 
            hx-swap="innerHTML"
            hx-include="[name='type']">
        <svg class="ml-auto h-5 px-4 text-gray-500" aria-hidden="true" focusable="false" data-prefix="far" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-9x"><path fill="currentColor" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg>
        </form>

    </div>

    <div id="search-results" class="absolute overflow-y-auto h-[420px]">
        
    </div>
</div>
{% endblock search %}